@font-face {
    font-family: caviar dreams;
    font-style: normal;
    font-weight: 300;
    src: local("Caviar Dreams"),
        url(/fonts/caviar-dreams/CaviarDreams.woff) format("woff");
}
@font-face {
    font-family: caviar dreams;
    font-style: italic;
    font-weight: 300;
    src: local("Caviar Dreams"),
        url(/fonts/caviar-dreams/CaviarDreamsItalic.woff) format("woff");
}
@font-face {
    font-family: caviar dreams;
    font-style: normal;
    font-weight: 500;
    src: local("Caviar Dreams"),
        url(/fonts/caviar-dreams/CaviarDreams_Bold.woff) format("woff");
}
@font-face {
    font-family: caviar dreams;
    font-style: italic;
    font-weight: 500;
    src: local("Caviar Dreams"),
        url(/fonts/caviar-dreams/CaviarDreams_BoldItalic.woff) format("woff");
}
