@import "./variables.scss";
@import "./fonts.scss";

* {
    margin: 0px;
    padding: 0px;
    font-family: "Caviar Dreams", Calibri, Candara, Segoe, "Segoe UI", Optima,
        Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}
