@import "./variables.scss";
@import "./fonts.scss";

@property --logo-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #b59b7e;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Caviar Dreams", Calibri, Candara, Segoe, "Segoe UI", Optima,
        Arial, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

*::selection {
    background-color: #777;
    color: lightgray;
}
