@import "./variables.scss";
@import "./fonts.scss";

:root {
    --background-color: #b3b3b3;
    --text-color: #4d4d4d;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Light", Calibri, Candara, Segoe, "Segoe UI", Optima,
        Arial, sans-serif;
    font-weight: 300;
    color: var(--text-color);
    box-sizing: border-box;
}

*::selection {
    /* background-color: gray; */
    background-color: #777;
    color: lightgray;
}
