$breakpoint-xs: 480px;
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1280px;

@property --logo-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #b59b7e;
}

@property --logo-text-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #88704e;
}

@property --link-color {
    syntax: "<color>";
    inherits: true;
    initial-value: black;
}

@property --highlight-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}
