---
import { Image } from "astro:assets";

import BasicLayout from "@layouts/BasicLayout.astro";
import SkipButton from "@components/SkipButton.astro";

import heroImg from "@images/about/hero.jpg";
import Details from "@components/Details.astro";
---

<BasicLayout title="about - Studio NH">
    <div class="hero">
        <Image
            src={heroImg}
            alt="Moderner Stuhl vor Industriehintergrund"
            quality="max"
            densities={[1.5, 2]}
            class="hero-img"
        />
        <SkipButton />
    </div>
    <main id="main">
        Das bin ich. Der kreative Kopf des Studios. Zertifiziert in
        Raumgestaltung & Interiordesign. Kleine Dinge mit großer Liebe tun. Mit
        diesen Worten beschreibe ich gern meine Tätigkeit, mein Gespür für
        Farben, Material und Stimmungen. Meinen Blick fürs Detail. Ich mag das
        Schlichte. Das Schöne. Bei einem Espresso am Nachmittag starte ich noch
        einmal durch und mache mein Hobby zum Beruf. Los geht's!

        <Details summary="ABOUT ME">
            Schon immer liebte ich es, Räumen ein Gesicht zu geben, Wohnungen
            einzurichten, zu gestalten. Lange Zeit war es für mich ein
            erfüllendes Hobby, das ich neben meiner Berufstätigkeit als
            Bankbetriebswirtin ausübte - für Familie & Freunde. <br /><br />
            Doch manchmal ist es einfach an der Zeit, seinen Traum zu leben. Es war
            der Moment, in dem ich beschloss, meine Leidenschaft für Architektur
            & Design auf eine neue Ebene zu stellen: Kurz nach meinem 53. Geburtstag
            begann ich am Institut für Innenarchitektur das Studium "Raumgestaltung
            und Interiordesign". Mit sehr gutem Erfolg schloss ich es ab. Dankbar
            und sehr glücklich darf ich nun meinen Herzensberuf, den Mix aus Kreativität
            & Ästhetik, ausüben. <br /><br />
            Ich liebe die Begegnungen mit Menschen in ihren Lebensräumen und betrachte
            es als kostbares Geschenk, als Privileg, in dein ganz persönliches Reich
            eingeladen zu werden. Zuhören nimmt dabei einen wichtigen Teil meiner
            Arbeit ein. Nur so entdecke ich Möglichkeiten, dein Wohn- oder Arbeitsumfeld
            zu verbessern, Alltagsabläufe zu strukturieren, zu organisieren, zu optimieren.
            Ganzheitlich. Denn: Jeder Kunde und jedes Projekt ist für mich einzigartig,
            unverwechselbar. Mit künstlerischem Know-How & technischem Verständnis
            kreiere ich für dich inspirierende Lösungen mit nachhaltigem Nutzen.
            Alles, außer gewöhnlich. <br /><br />
            Skandinavien. Ich liebe es. Ich liebe dänisches Design, norwegische Architektur,
            schwedische Zimtschnecken, finnische Sauna, Feuer & Eis auf Island. Und
            so basieren meine Entwürfe auf einer gesunden Mischung aus Naturliebe
            und Lebenskunst. Ich mag es, wenn authentische Werkstoffe Freundschaft
            schließen mit Design & Kunst. Ich mag den Scandic Style - als warmen
            Purismus, als Modern Country oder auch als Luxus & Urigkeit in Balance.
            Ich mag Stilbruch gegen Langeweile & Lieblingsstücke für Lebendigkeit.
            Ich fokussiere mich auf natürliche Materialien, sanfte Farbkompositionen,
            reduzierte Formensprache, Licht. Mein Ziel: Optische Ruhe, Klarheit,
            Leichtigkeit. Unkompliziert. <br /><br />
            Ich möchte Vertrauen schaffen & immer wieder neu begeistern - mit neuen
            Ideen, innovativen Produkten, aber vor allem mit persönlichem Engagement
            und viel Herzblut. <br /><br />
            Einrichten ist... sehen. fühlen. erleben. <br /><br />
            Für mich erzählt jeder Raum eine Geschichte - erzählen wir deine! Love
            my Job.
        </Details>

        <Details summary="FOTOGRAFIE & MALERIE">
            Was ist Kunst? Für Wilhelm Busch ist sie "Verzierung dieser Welt",
            für Oscar Wilde "Erzeugen von Stimmung" und Pablo Picasso "Finden,
            was man nicht gesucht hat". <br /><br />
            Für mich ist sie alles Drei, vor allem aber ein Bauchgefühl! Aber genau
            wegen dieser Einzigartigkeit, dieser Individualität ist sie für mich
            beim Einrichten so elementar & wichtig, ist sie für mich Handschrift
            und persönliche Note. <br /><br />
            Geschmäcker sind verschieden. Kunst polarisiert. Über Geschmack lässt
            sich nicht streiten, ein jeder weiß, was ihm gefällt. Umgib dich mit
            Kunst, die dir gut tut- zu Hause, im Büro, im Garten... Kunststückchen
            können erschwinglich sein, skulpturale Designobjekte in Holz, perfekt
            inszeniert. Und oftmals sind es die kleinen Dinge: Eine Kinderzeichnung
            unter einem Galeriespot, Lieblingsfotos in Schwarzweiß. Erinnerungen
            in ungewöhnlichen Formaten, ins rechte Licht gerückt. Kunst als Erlebnis.
            Zuhause. Kunst ist Mut. Mut gehört in die Herzen, ins Leben, übers Sofa.<br
            /><br />
            Für meine Arbeit halte ich Kontakt zu unterschiedlichen Künstlern, heimischen
            Ateliers, kleinen Galerien und Händlern. Und: Für mein Herz gestalte
            ich selbst! Ich liebe es, zu malen und zu fotografieren - studiostarke
            Unikate...<br />
            <br />
            <a href="/artworks/" class="artworks-link"
                >Hier geht's zu meinen Artworks...</a
            >
            <br /><br />
            ...auch zum Verleih.
        </Details>
    </main>
</BasicLayout>

<style lang="scss">
    .hero {
        width: 100%;
        height: 100%;
        position: relative;

        @media (min-width: $breakpoint-s) {
            height: calc(100dvh - 80px);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            :root[data-theme="dark"] & {
                filter: brightness(0.6);
            }
        }
    }

    #main {
        color: var(--logo-text-color);
        font-size: 1.5em;
        margin: 2em;
        scroll-margin-top: 2em;

        @media only screen and (min-width: $breakpoint-xs) {
            font-size: 2em;
        }

        @media only screen and (min-width: $breakpoint-s) {
            margin: 5em;
            scroll-margin-top: 5em;
        }

        .artworks-link {
            color: var(--link-color);
            text-decoration: none;

            &:hover {
                color: var(--logo-color);
            }
        }
    }
</style>
