---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BasicLayout from "@layouts/BasicLayout.astro";

const artworks = await getCollection("artworks").then((projects) =>
    projects.sort((a, b) => a.data.position - b.data.position)
);
---

<BasicLayout title="artworks - Studio NH">
    <main class="artworks-grid">
        {
            artworks.map(async (artwork) => {
                const { Content } = await artwork.render();
                return (
                    <div class="artwork">
                        <Image
                            src={artwork.data.bilder[0]}
                            alt={artwork.data.titel}
                            quality={"mid"}
                        />
                        <h2>{artwork.data.titel}</h2>
                        <span>
                            <Content />
                        </span>
                    </div>
                );
            })
        }
    </main>
</BasicLayout>

<style lang="scss">
    .artworks-grid {
        margin: 0.5em;
        display: grid;
        gap: 0.5em;
        grid-template-columns: auto;

        @media only screen and (min-width: $breakpoint-xs) {
            margin: 2em;
        }

        @media only screen and (min-width: $breakpoint-l) {
            margin-inline: auto;
            max-width: 80em;
        }

        h1 {
            margin-bottom: 0.5em;
        }

        @media only screen and (min-width: $breakpoint-s) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1em;
        }

        @media only screen and (min-width: $breakpoint-l) {
            gap: 3em;
        }

        .artwork {
            padding: 1.5em;
            padding-bottom: 1em;
            border: 2px solid var(--logo-color);
            text-decoration: none;

            transition: box-shadow 0.2s;

            &:hover {
                box-shadow: 5px 5px 0.5em 0.125em rgba(0, 0, 0, 0.1);
            }

            img {
                width: 100%;
                height: auto;
                aspect-ratio: 1;
                object-fit: cover;
            }

            h2 {
                color: var(--logo-text-color);
                text-align: center;
                margin-top: 0.25em;
                min-height: 3em;
                align-content: center;

                @media only screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-s) {
                    font-size: 2em;
                }

                @media only screen and (min-width: $breakpoint-s) {
                    font-size: 2.5em;
                }
            }

            span {
                text-align: center;
            }
        }
    }
</style>
