---
import Slider from "@components/Slider.astro";
import ArtworkSlides from "@components/artworks/ArtworkSlides.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";

const artworks = await getCollection("artworks");
---

<DefaultLayout
    title="Artworks - Studio Nicole Hölting"
    activePage="/artworks/"
    federZitat="Die Frage ist nicht, was man betrachtet, sondern was man sieht."
    federAuthor="Henry David Thoreau"
    federAnimation="translateY(290px) rotate(-20deg) translateX(40px)"
>
    <div class="mainText">
        <p>
            Geschmäcker sind verschieden. Kunst polarisiert. Über Geschmack
            lässt sich nicht streiten.<br />Denn ein jeder weiß, was ihm
            gefällt, hat ein Gespür dafür, was ihm guttut.<br />Umgib dich mit
            Kunst, die dich beflügelt - zu Hause, im Büro, im Garten..<br />Ob
            Skulptur, Malwerk oder Fotografie: Kunst ist gemacht für dich und
            all jene, die etwas für sie empfinden.<br />Flügelschläge.
            Federleichtigkeit. Nestwärme.<br />Ich halte Kontakt zu
            unterschiedlichsten Künstlern, heimischen Ateliers, kleinen Galerien
            und Händlern.<br />...und ich führe die Feder und gestalte selbst!
        </p>
        <p>Studiostarke Unikate...</p>
    </div>
    <Slider>
        {
            artworks
                .sort((a, b) => a.data.position - b.data.position)
                .map((artwork) => <ArtworkSlides {artwork} />)
        }
    </Slider>
</DefaultLayout>

<style lang="scss">
    .mainText {
        text-align: center;
        margin-top: 40px;
        font-size: 20px;

        p:nth-child(2) {
            margin-top: 15px;
            font-size: 25px;
        }
    }
</style>
