---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Datenschutz & Impressum - Studio Nicole Hölting">
    <div id="container">
        <div id="impressum">
            <h2>IMPRESSUM</h2>
            <p>Nicole Hölting<br />Starenweg 10<br />33034 Brakel</p>
            <br />
            <p>USt-IdNr.: DE272063844</p>
            <br />
            <p>FON: 0152 53484096</p>
            <a
                href="mailto:studio@nicolehoelting.de?subject=Kontakt"
                class="fancy-link">studio&#064;nicolehoelting&#046;de</a
            ><br />
            <a href="index.html">www.nicolehoelting.de</a><br />
            <br />
            <p>Webgestaltung: Moritz Hölting</p>
        </div>
        <div id="haftung">
            <h4>HAFTUNG FÜR INHALTE</h4>
            <p>
                Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt.
                Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
                kann ich jedoch keine Gewähr übernehmen. Als Diensteanbieter bin
                ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
                nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10
                TMG bin ich als Diensteanbieter jedoch nicht verpflichtet,
                übermittelte oder gespeicherte fremde Informationen zu
                überwachen oder nach Umständen zu forschen, die auf eine
                rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur
                Entfernung oder Sperrung der Nutzung von Informationen nach den
                allgemeinen Gesetzen bleiben hiervon unberührt. Eine
                diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der
                Kenntnis einer konkreten Rechtsverletzung möglich. Bei
                Bekanntwerden von entsprechenden Rechtsverletzungen werde ich
                diese Inhalte umgehend entfernen
            </p>
            <!-- <h4>HAFTUNG FÜR LINKS</h4> -->
            <!-- <p>Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte keine Gewähr oder Haftung übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Links umgehend entfernen.</p> -->
        </div>
        <div id="urheberrecht">
            <h4>URHEBERRECHT</h4>
            <p>
                Die durch den Seitenbetreiber erstellten Inhalte und Werke auf
                diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge
                Dritter sind als solche gekennzeichnet. Die Vervielfältigung,
                Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb
                der Grenzen des Urheberrechtes bedürfen der schriftlichen
                Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und
                Kopien dieser Seite sind nur für den privaten, nicht
                kommerziellen Gebrauch gestattet. Der Betreiber der Seiten ist
                bemüht, stets die Urheberrechte anderer zu beachten bzw. auf
                selbst erstellte sowie lizenzfreie Werke zurückzugreifen.
            </p>
        </div>
        <div id="datenschutz">
            <h4>DATENSCHUTZ</h4>
            <p>
                Soweit auf meinen Seiten personenbezogene Daten (beispielsweise
                Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt
                dies, soweit möglich, stets auf freiwilliger Basis. Die Nutzung
                der Angebote und Dienste ist, soweit möglich, stets ohne Angabe
                personenbezogener Daten möglich.
            </p>
            <p>
                Ich weise darauf hin, dass die Datenübertragung im Internet
                (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
                aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                durch Dritte ist nicht möglich.
            </p>
            <p>
                Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten
                Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich
                angeforderter Werbung und Informationsmaterialien wird hiermit
                ausdrücklich widersprochen. Die Betreiberin der Seiten behält
                sich ausdrücklich rechtliche Schritte im Falle der unverlangten
                Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
            </p>
        </div>
        <div id="datenschutzrichtlinie">
            <h2>DATENSCHUTZRICHTLINIE</h2>
            <p>
                Ich freue mich sehr über dein Interesse an meinem kleinen
                Unternehmen. Datenschutz hat für mich als Inhaberin des Studios
                einen besonders hohen Stellenwert. Eine Nutzung meiner
                Internetseiten ist grundsätzlich ohne jede Angabe
                personenbezogener Daten möglich. Sofern eine betroffene Person
                besondere Services meines Studios über meine Internetseite in
                Anspruch nehmen möchte, könnte jedoch eine Verarbeitung
                personenbezogener Daten erforderlich werden. Ist die
                Verarbeitung personenbezogener Daten erforderlich und besteht
                für eine solche Verarbeitung keine gesetzliche Grundlage, hole
                ich generell eine Einwilligung der betroffenen Person ein.
            </p>
            <p>
                Die Verarbeitung personenbezogener Daten, beispielsweise des
                Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer einer
                betroffenen Person, erfolgt stets im Einklang mit der
                Datenschutz-Grundverordnung und in Übereinstimmung mit dem
                deutschen Datenschutzrecht. Verantwortlich im Sinne der
                Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten
                der Europäischen Union geltenden Datenschutzgesetze und anderer
                mit datenschutzrechtlichem Charakter bin ich, Nicole Hölting,
                Starenweg 10, 33034 Brakel. Als für die Verarbeitung
                Verantwortliche habe ich zahlreiche technische und
                organisatorische Maßnahmen umgesetzt, um einen möglichst
                lückenlosen Schutz der über diese Internetseite verarbeiteten
                personenbezogenen Daten sicherzustellen. Dennoch können
                internetbasierte Datenübertragungen grundsätzlich
                Sicherheitslücken aufweisen, sodass ein absoluter Schutz nicht
                gewährleistet werden kann. Aus diesem Grund steht es jeder
                betroffenen Person frei, personenbezogene Daten auch auf
                alternativen Wegen, beispielsweise telefonisch, an mich zu
                übermitteln.
            </p>
            <h5>1. Begriffsbestimmungen</h5>
            <p>
                Diese Datenschutzerklärung beruht auf den Begrifflichkeiten, die
                durch den Europäischen Richtlinien- und Verordnungsgeber beim
                Erlass der Datenschutzgrundverordnung (DSGVO) verwendet wurden.
            </p>
            <h5>2. Erfassung von allgemeinen Daten und Informationen</h5>
            <p>
                Meine Internetseite erfasst mit jedem Aufruf der Internetseite
                durch eine betroffene Person oder ein automatisiertes System
                eine Reihe von allgemeinen Daten und Informationen. Diese
                allgemeinen Daten und Informationen werden in den Logfiles des
                Servers gespeichert. Erfasst werden können die (1) verwendeten
                Browsertypen und Versionen, (2) das vom zugreifenden System
                verwendete Betriebssystem, (3) die Internetseite, von welcher
                ein zugreifendes System auf meine Internetseite gelangt
                (sogenannte Referrer), (4) die Unterwebseiten, welche über ein
                zugreifendes System auf meiner Internetseite angesteuert werden,
                (5) das Datum und die Uhrzeit eines Zugriffs auf die
                Internetseite, (6) eine Internet-Protokoll-Adresse (IP-Adresse),
                (7) der Internet-Service-Provider des zugreifenden Systems und
                (8) sonstige ähnliche Daten und Informationen, die der
                Gefahrenabwehr im Falle von Angriffen auf meine
                informationstechnologischen Systeme dienen. Bei der Nutzung
                dieser allgemeinen Daten und Informationen ziehe ich keine
                Rückschlüsse auf die betroffene Person. Diese Informationen
                werden vielmehr benötigt, um (1) die Inhalte meiner
                Internetseite korrekt auszuliefern, (2) die Inhalte meiner
                Internetseite sowie die Werbung für diese zu optimieren, (3) die
                dauerhafte Funktionsfähigkeit meiner informationstechnologischen
                Systeme und der Technik meiner Internetseite zu gewährleisten
                sowie (4) um Strafverfolgungsbehörden im Falle eines
                Cyberangriffes die zur Strafverfolgung notwendigen Informationen
                bereitzustellen. Diese anonym erhobenen Daten und Informationen
                werden durch mich daher einerseits statistisch und ferner mit
                dem Ziel ausgewertet, den Datenschutz und die Datensicherheit in
                meinem Unternehmen zu erhöhen, um letztlich ein optimales
                Schutzniveau für die von mir verarbeiteten personenbezogenen
                Daten sicherzustellen. Die anonymen Daten der Server-Logfiles
                werden getrennt von allen durch eine betroffene Person
                angegebenen personenbezogenen Daten gespeichert.
            </p>
            <h5>3. Kontaktmöglichkeit über die Internetseite</h5>
            <p>
                Diese Internetseite enthält aufgrund von gesetzlichen
                Vorschriften Angaben, die eine schnelle elektronische
                Kontaktaufnahme zu mir sowie eine unmittelbare Kommunikation mit
                mir zu ermöglichen, was ebenfalls eine allgemeine Adresse der
                sogenannten elektronischen Post (E-Mail-Adresse) umfasst. Sofern
                eine betroffene Person per E-Mail den Kontakt mit dem für die
                Verarbeitung Verantwortlichen aufnimmt, werden die von der
                betroffenen Person übermittelten personenbezogenen Daten
                automatisch gespeichert. Solche auf freiwilliger Basis von einer
                betroffenen Person an den für die Verarbeitung Verantwortlichen
                übermittelten personenbezogenen Daten werden für Zwecke der
                Bearbeitung oder der Kontaktaufnahme zur betroffenen Person
                gespeichert. Es erfolgt keine Weitergabe dieser
                personenbezogenen Daten an Dritte.
            </p>
            <h5>
                4. Routinemäßige Löschung und Sperrung von personenbezogenen
                Daten
            </h5>
            <p>
                Ich verarbeite und speichere personenbezogene Daten der
                betroffenen Person nur für den Zeitraum, der zur Erreichung des
                Speicherungszwecks erforderlich ist oder sofern dies durch den
                Europäischen Richtlinien- und Verordnungsgeber oder einen
                anderen Gesetzgeber in Gesetzen oder Vorschriften, welchen der
                für die Verarbeitung Verantwortliche unterliegt, vorgesehen
                wurde. Entfällt der Speicherungszweck oder läuft eine vom
                Europäischen Richtlinien- und Verordnungsgeber oder einem
                anderen zuständigen Gesetzgeber vorgeschriebene Speicherfrist
                ab, werden die personenbezogenen Daten routinemäßig und
                entsprechend den gesetzlichen Vorschriften gesperrt oder
                gelöscht.
            </p>
            <h5>5. Rechtsgrundlage der Verarbeitung</h5>
            <p>
                Art. 6 I lit. a DS-GVO dient mir als Rechtsgrundlage für
                Verarbeitungsvorgänge, bei denen ich eine Einwilligung für einen
                bestimmten Verarbeitungszweck einhole. Ist die Verarbeitung
                personenbezogener Daten zur Erfüllung eines Vertrags, dessen
                Vertragspartei die betroffene Person ist, erforderlich, wie dies
                beispielsweise bei Verarbeitungsvorgängen der Fall ist, die für
                eine Lieferung von Waren oder die Erbringung einer sonstigen
                Leistung oder Gegenleistung notwendig sind, so beruht die
                Verarbeitung auf Art. 6 I lit. b DS-GVO. Gleiches gilt für
                solche Verarbeitungsvorgänge die zur Durchführung
                vorvertraglicher Maßnahmen erforderlich sind, etwa in Fällen von
                Anfragen zu meinen Produkten oder Leistungen. Unterliegt meine
                Unternehmung einer rechtlichen Verpflichtung, durch welche eine
                Verarbeitung von personenbezogenen Daten erforderlich ist, wie
                beispielsweise zur Erfüllung steuerlicher Pflichten, so basiert
                die Verarbeitung auf Art. 6 I lit. c DS-GVO. In seltenen Fällen
                könnte die Verarbeitung von personenbezogenen Daten erforderlich
                werden, um lebenswichtige Interessen der betroffenen Person oder
                einer anderen natürlichen Person zu schützen. Dies wäre
                beispielsweise der Fall, wenn ein Besucher in meinen
                Räumlichkeiten verletzt werden würde und daraufhin sein Name,
                sein Alter, seine Krankenkassendaten oder sonstige
                lebenswichtige Informationen an einen Arzt, ein Krankenhaus oder
                sonstige Dritte weitergegeben werden müssten. Dann würde die
                Verarbeitung auf Art. 6 I lit. d DS-GVO beruhen. Letztlich
                könnten Verarbeitungsvorgänge auf Art. 6 I lit. f DS-GVO
                beruhen. Auf dieser Rechtsgrundlage basieren
                Verarbeitungsvorgänge, die von keiner der vorgenannten
                Rechtsgrundlagen erfasst werden, wenn die Verarbeitung zur
                Wahrung eines berechtigten Interesses meines Unternehmens oder
                eines Dritten erforderlich ist, sofern die Interessen,
                Grundrechte und Grundfreiheiten des Betroffenen nicht
                überwiegen. Solche Verarbeitungsvorgänge sind mir insbesondere
                deshalb gestattet, weil sie durch den Europäischen Gesetzgeber
                besonders erwähnt wurden. Er vertrat insoweit die Auffassung,
                dass ein berechtigtes Interesse anzunehmen sein könnte, wenn die
                betroffene Person ein Kunde des Verantwortlichen ist
                (Erwägungsgrund 47 Satz 2 DS-GVO).
            </p>
            <h5>
                6. Berechtigte Interessen an der Verarbeitung, die von dem
                Verantwortlichen oder einem Dritten verfolgt werden
            </h5>
            <p>
                Basiert die Verarbeitung personenbezogener Daten auf Artikel 6 I
                lit. f DS-GVO, ist mein berechtigtes Interesse die Durchführung
                meiner Geschäftstätigkeit zugunsten des Wohlergehens all meiner
                Mitarbeiter.
            </p>
            <h5>
                7. Dauer, für die die personenbezogenen Daten gespeichert werden
            </h5>
            <p>
                Das Kriterium für die Dauer der Speicherung von
                personenbezogenen Daten ist die jeweilige gesetzliche
                Aufbewahrungsfrist. Nach Ablauf der Frist werden die
                entsprechenden Daten routinemäßig gelöscht, sofern sie nicht
                mehr zur Vertragserfüllung oder Vertragsanbahnung erforderlich
                sind.
            </p>
            <h5>
                8. Gesetzliche oder vertragliche Vorschriften zur Bereitstellung
                der personenbezogenen Daten; Erforderlichkeit für den
                Vertragsabschluss; Verpflichtung der betroffenen Person, die
                personenbezogenen Daten bereitzustellen; mögliche Folgen der
                Nichtbereitstellung
            </h5>
            <p>
                Ich kläre Sie darüber auf, dass die Bereitstellung
                personenbezogener Daten zum Teil gesetzlich vorgeschrieben ist
                (z.B. Steuervorschriften) oder sich auch aus vertraglichen
                Regelungen (z.B. Angaben zum Vertragspartner) ergeben kann.
                Mitunter kann es zu einem Vertragsschluss erforderlich sein,
                dass eine betroffene Person mir personenbezogene Daten zur
                Verfügung stellt, die in der Folge durch mich verarbeitet werden
                müssen. Die betroffene Person ist beispielsweise verpflichtet,
                mir personenbezogene Daten bereitzustellen, wenn mein
                Unternehmen mit ihr einen Vertrag abschließt. Eine
                Nichtbereitstellung der personenbezogenen Daten hätte zur Folge,
                dass der Vertrag mit dem Betroffenen nicht geschlossen werden
                könnte. Vor einer Bereitstellung personenbezogener Daten durch
                den Betroffenen muss sich der Betroffene an einen meiner
                Mitarbeiter wenden. Meine Mitarbeiter klären den Betroffenen
                einzelfallbezogen darüber auf, ob die Bereitstellung der
                personenbezogenen Daten gesetzlich oder vertraglich
                vorgeschrieben oder für den Vertragsabschluss erforderlich ist,
                ob eine Verpflichtung besteht, die personenbezogenen Daten
                bereitzustellen, und welche Folgen die Nichtbereitstellung der
                personenbezogenen Daten hätte.
            </p>
            <h5>9. Bestehen einer automatisierten Entscheidungsfindung</h5>
            <p>
                Als verantwortungsbewusstes Unternehmen verzichte ich auf eine
                automatische Entscheidungsfindung oder ein Profiling.
            </p>
            <h5>10. Auskunftsrecht</h5>
            <p>
                Sie haben das jederzeitige Recht, sich unentgeltlich und
                unverzüglich über die zu Ihrer Person erhobenen Daten zu
                erkundigen. Sie haben das jederzeitige Recht, Ihre Zustimmung
                zur Verwendung Ihrer angegeben persönlichen Daten mit Wirkung
                für die Zukunft zu widerrufen. Zur Auskunftserteilung wenden Sie
                sich bitte an den Anbieter unter den Kontaktdaten im Impressum.
            </p>
        </div>
    </div>
</BaseLayout>

<style lang="scss">
    * {
        margin: 0px;
        padding: 0px;
        font-family: "Roboto Light", Calibri, Candara, Segoe, "Segoe UI", Optima,
            Arial, sans-serif;
        font-weight: 300;
        /* color: #AD889A; */
        color: #4d4d4d;
    }

    :global(html) {
        min-height: 100vh;
    }

    p {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 22.5px;
    }

    h5 {
        font-size: 20px;
    }

    #container {
        margin: 25px;
        height: 50%;
        background-color: white;
    }
    #container > div {
        max-height: 100%;
    }

    #impressum {
        background-color: #666;
        padding: 10px;
        margin-bottom: 25px;
    }
    #impressum * {
        color: #fff;
    }
    #impressum *:not(:first-child) {
        font-size: 20px;
    }
    #impressum h2:first-child {
        margin-bottom: 30px;
        font-size: 40px;
    }
    #haftung {
        margin-bottom: 25px;
    }
    #urheberrecht {
        margin-bottom: 25px;
    }
    #datenschutz {
        margin-bottom: 25px;
    }

    #datenschutzrichtlinie > h5 {
        margin-top: 5px;
    }

    @supports (display: grid) {
        #container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "impressum haftung urheberrecht datenschutz"
                "impressum datenschutzrichtlinie datenschutzrichtlinie datenschutzrichtlinie";
            grid-gap: 20px;
            grid-auto-columns: 10px;
        }

        #impressum {
            grid-area: impressum;
            margin-bottom: 0;
        }
        #haftung {
            grid-area: haftung;
            margin-bottom: 0;
        }
        #urheberrecht {
            grid-area: urheberrecht;
            margin-bottom: 0;
        }
        #datenschutz {
            grid-area: datenschutz;
            margin-bottom: 0;
        }
        #datenschutzrichtlinie {
            grid-area: datenschutzrichtlinie;
        }
    }

    @media (max-width: calc($mobile_max_width * 1.5)) {
        #container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            grid-template-areas:
                "impressum"
                "haftung"
                "urheberrecht"
                "datenschutz"
                "datenschutzrichtlinie";
            grid-gap: 20px;
            /* grid-auto-columns: 10px; */
            height: 50%;
        }
        #container {
            display: block;
        }
        #haftung,
        #impressum,
        #urheberrecht,
        #datenschutz,
        #datenschutzrichtlinie {
            margin-bottom: 25px;
            padding: 10px;
        }
    }
</style>
