---
import BasicLayout from "@layouts/BasicLayout.astro";
---

<BasicLayout title="Impressum - Studio NH">
    <main id="main">
        <section id="impressum">
            <h1>Impressum</h1>
            <p>Nicole Hölting<br />Starenweg 10<br />33034 Brakel</p>
            <p>USt-IdNr.: DE272063844</p>
            <p>FON: <a href="tel:+4915253484096">0152 53484096</a></p>
            <a href="mailto:studio@nicolehoelting.de?subject=Kontakt"
                >studio&#064;nicolehoelting&#046;de</a
            >
        </section>
        <section id="webdesign">
            <h1>Webdesign</h1>
            <p>Moritz Hölting</p>
            <a href="https://hoelting.dev" target="_blank">www.hoelting.dev</a>
            <a href="mailto:webdesign@hoelting.dev"
                >webdesign&#064;hoelting&#046;dev</a
            >
        </section>
        <section id="fotografie">
            <h1>Fotografie</h1>
            <p>Nicole Hölting</p>
            <p>Ulrich Wenzel</p>
        </section>
        <section id="texte">
            <h1>Texte</h1>
            <p>Nicole Hölting</p>
        </section>

        <section id="dankeschönst">
            <h1>Dankeschönst</h1>
            <p>
                Meiner Familie möchte ich das dickste Dankeschön überhaupt
                aussprechen - für das Mittragen meines Studiums! Nur so war die
                Zeit für mich derart bereichernd & der großartige Abschluss
                möglich. Dankeschönst an jeden einzelnen von euch!
            </p>
            <p>
                Danke, Thorsten, fürs Zutrauen, fürs Mutmachen, fürs Mitfreuen,
                fürs technische Unterstützen, fürs Aufbauen,... Danke, lieber
                Thorsten, für den Champagner!
            </p>
            <p>
                Danke, Jette, für die unzähligen Nachhilfestunden in Sachen
                Social Media - echte Herausforderungen für die "alte Mutti",
                aber total spannend... Danke, liebe Jette, für Hashtags, Filter,
                Filmchen und dadurch bestimmt so manchen Follower!
            </p>
            <p>
                Danke, Moritz, für deine unendliche Geduld - immer wieder andere
                Ideen, immer wieder neue Blogthemen, Projekte... Danke für dein
                technisches Know-How, aber ganz besonders auch für deinen Blick
                fürs Schöne & deine Kreativität. Danke, lieber Mo, für meine so
                zauberschön gestaltete Website!
            </p>
            <p>
                Meinem Fotografen Ulli danke ich für meinen Gesichts-Muskelkater
                - Lächeln auf "Ready?" & das über Stunden! Reichlich großartiges
                Rohmaterial. Danke, lieber Ulli, für meine tollen Portraits!
            </p>
            <p>
                Meiner lieben Freundin Heike danke ich, dass ich auf dem
                stillgelegten Firmengelände ihres Großvaters so coole Fotos von
                mir machen durfte. Danke, Heike, für die einzigartige Kulisse &
                das perfekte Wetter, das du für mich bestellt hast!
            </p>
            <p>
                Meinen Kundinnen & Kunden danke ich für die köstlichen Espressi,
                die ihr mir beim Fotoshooting in euren Räumlichkeiten serviert
                habt. Ich danke auch für das Bereitstellen von Archivfotos.
                Nicht selbstverständlich: Danke, ihr Lieben, für den Einblick in
                euer ganz persönliches Zuhause!
            </p>
        </section>
    </main>
</BasicLayout>

<style lang="scss">
    #main {
        color: var(--logo-text-color);
        font-size: 1.5em;
        margin: 2em;
        scroll-margin-top: 2em;

        @media only screen and (min-width: $breakpoint-xs) {
            font-size: 2em;
        }

        @media only screen and (min-width: $breakpoint-s) {
            margin: 5em;
            scroll-margin-top: 5em;
        }

        @media only screen and (min-width: $breakpoint-m) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "impressum webdesign"
                "texte fotografie"
                "danke danke";
            align-items: start;
            gap: 2em;
        }

        h1 {
            text-transform: uppercase;
        }

        a {
            color: var(--link-color);
            text-decoration: none;
            width: fit-content;

            &:hover {
                color: var(--logo-color);
                text-decoration: underline;
            }
        }

        > section:not(:first-child) {
            margin-top: 1em;

            @media only screen and (min-width: $breakpoint-m) {
                margin-top: 0;
            }
        }

        #impressum {
            @media only screen and (min-width: $breakpoint-m) {
                grid-area: impressum;
            }
        }

        #webdesign {
            @media only screen and (min-width: $breakpoint-m) {
                grid-area: webdesign;
            }

            a {
                display: block;
            }
        }

        #fotografie {
            @media only screen and (min-width: $breakpoint-m) {
                grid-area: fotografie;
            }
        }

        #texte {
            @media only screen and (min-width: $breakpoint-m) {
                grid-area: texte;
            }
        }

        #dankeschönst {
            margin-top: 5em;
            font-size: 0.75em;

            @media only screen and (min-width: $breakpoint-m) {
                grid-area: danke;
            }

            p {
                margin-bottom: 1em;
            }
        }
    }
</style>
