---
import { Image } from "astro:assets";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import moodboardImg from "@images/home/moodboard-bw.jpg";
---

<DefaultLayout
    title="Studio Nicole Hölting"
    activePage="/"
    federZitat="Am Anfang steht die Sehnsucht."
    federAuthor="Nelly Sachs"
>
    <Image src={moodboardImg} alt="Moodboard" id="moodboard" quality="mid" />
    <div class="text">
        <ul class="collapsible-container">
            <li>
                <button type="button" class="collapsible"> einrichten.</button>
                <div class="collapsible-content">
                    <p>
                        einrichten ist... sehen. fühlen. erleben.
                        <br />Licht ist Quelle. Lampen sind Leucht- und
                        Stilmittel. <br />Samt und Seide als Lipstick fürs
                        Wohnzimmer. <br />Und fürs Schlafzimmer Stoffe, aus
                        denen die Träume sind. <br />Kissen & Kerzen. Holz.
                        Kaminkonfekt. <br />Musik für die Seele, Technik für den
                        Komfort. <br />Grün. Pflanzen. <br />Wohnglück kann
                        alles sein:
                        <br />Das weiße Zimmer. Tanz der Farben. Oder gar
                        Farb-Flash? <br />Orientalischer Mix? Südländische
                        Sommerfrische?
                        <br />Skandinavischer Chic mit dänischer Hygge? Cosy. <br
                        />Französisches Landlustfeeling oder industrielle
                        Nüchternheit? <br />Ein opulentes "My home is my
                        castle." <br />Wichtig immer: Die Kunst, daheim zu Hause
                        zu sein!
                    </p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible">
                    interiordesign.
                </button>
                <div class="collapsible-content">
                    <p>Modern & zeitlos, selten modisch.</p>
                    <p>
                        Von Bauhaus-Klassikern bis zum blau-gelben
                        Schwedendesign - mix and match.
                    </p>
                    <p>Erlaubt ist, was gefällt!</p>
                    <p>
                        Vielseitig verwendbare Beistellmöbel und variable
                        Schrank-/Regalsysteme sind die perfekten Essentials.
                    </p>
                    <p>
                        Von Seelenschmeichlern, Stilfavoriten und Augenweiden.
                    </p>
                    <p>
                        Das goldglänzende Sideboard. Was für ein samtweiches
                        Sofa. Ein Traum von einer Vase...
                    </p>
                    <p>
                        Geliebte Bücher, Sammelsurien, Erbstücke und Mitbringsel
                        aus dem Urlaub erzählen Geschichten.
                    </p>
                    <p>
                        Erst die kleinen Dinge machen das Große einzigartig &
                        kostbar, geben eine Seele.
                    </p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible"> raumkonzept.</button>
                <div class="collapsible-content">
                    <p>
                        Viel mehr als oben und unten und immer an der Wand lang.
                    </p>
                    <p>Weniger ist mehr. Mehr ist nicht genug.</p>
                    <p>Raumkonzept - ein Tausendsassa.</p>
                    <p>Gestaltungsideen aus dem Alltag.</p>
                    <p>Form follows function.</p>
                    <p>Ganzheitlich.</p>
                    <p>Abläufe analysieren.</p>
                    <p>Flächen gliedern. Proportionieren. Orte schaffen.</p>
                    <p>Aber auch: Kleine Kammern zu Raumwundern erheben.</p>
                    <p>Maximal mini.</p>
                    <p>Ansichten und Aussichten eines Raumes.</p>
                    <p>Für ein emotionales Wohlbehagen.</p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible">
                    natürlich. nachhaltig.
                </button>
                <div class="collapsible-content">
                    <p>Heute. Morgen. Und übermorgen.</p>
                    <p>Wohnen, wohlfühlen mit Weitsicht.</p>
                    <p>Langlebigkeit als Lebensmodell.</p>
                    <p>Ehrliche Materialien, zertifiziert.</p>
                    <p>
                        Ästhetik & Funktionalität. Zeitloses Design. Klassiker.
                    </p>
                    <p>Zweite Hand als erste Wahl.</p>
                    <p>Ökobilanz statt Wegwerfgesellschaft.</p>
                    <p>
                        Umweltzone im eigenen Zuhause - zuversichtlich,
                        zukunftsfähig.
                    </p>
                    <p>Verantwortlich planen. kaufen. wohnen.</p>
                    <p>
                        Von red dots, grünen Häusern & unserem schönen, blauen
                        Planeten.
                    </p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible">
                    lebensraum garten.
                </button>
                <div class="collapsible-content">
                    <p>Von drinnen nach draußen.</p>
                    <p>
                        Schlafen unterm Himmelszelt. Hängematte.
                        Hollywood-Schaukel? Loungeinsel - Sommer auf der Haut!
                    </p>
                    <p>
                        Sand zwischen den Zehen im Strandkorb. Pool. Wasserspiel
                        und Sonnensegel.
                    </p>
                    <p>
                        Schiffscontainer als Gartenhaus. Urlaub auf Balkonien.
                        Regendusche.
                    </p>
                    <p>
                        Gemüsegarten. Kochen in der Outdoorküche - Kräuter aus
                        dem Hochbeet & Wein aus Italien. Genießerglück.
                    </p>
                    <p>
                        One-Pot-Gerichte vom Schwenkgrill, im Winter Glühwein.
                        Die Kleinen freuen sich auf Stockbrot.
                    </p>
                    <p>Lesen unterm Apfelbaum. Vogelgezwitscher.</p>
                    <p>
                        Grüne Oase mit Charme & Stil. Das englische Gewächshaus
                        als Wintergarten.
                    </p>
                    <p>Eine Wildblumenwiese für die Bienen. Summ, summ.</p>
                    <p>Der Garten Eden ist eben für jeden etwas anderes...</p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible">
                    wohnen mit kunst.
                </button>
                <div class="collapsible-content">
                    <p>Was ist Kunst?</p>
                    <p>Verzierung dieser Welt (Wilhelm Busch).</p>
                    <p>Erzeugen von Stimmung (Oscar Wilde).</p>
                    <p>Finden, was man nicht gesucht hat (Pablo Picasso).</p>
                    <p>
                        Kinderzeichnung unterm Galeriespot. Lieblingsfotos in
                        Petersburger Hängung.
                    </p>
                    <p>
                        Skulpturales Designobjekt, perfekt inszeniert. Bronze.
                        Holz.
                    </p>
                    <p>Malerei in Öl & Acryl. Aquarell.</p>
                    <p>
                        Fotografie. Schwarzweiß. Sprengen des klassischen,
                        rechteckigen Rahmens. Rund.
                    </p>
                    <p>
                        Legendäre Werke in ungewöhnlichen Formaten. Ins rechte
                        Licht gerückt.
                    </p>
                    <p>Kunst als Erlebnis. Zuhause.</p>
                    <p>
                        Kunst ist Mut. Mut gehört in die Herzen, ins Leben,
                        übers Sofa.
                    </p>
                </div>
            </li>
            <li>
                <button type="button" class="collapsible">
                    gestalten nach feng shui.
                </button>
                <div class="collapsible-content">
                    <p>Fernöstliche Impulse im Westen.</p>
                    <p>Angemessen. Angepasst.</p>
                    <p>Die Wohnung als Spiegelbild der Seele.</p>
                    <p>
                        Das Wissen um Energie, Resonanz. Die fünf Elemente. Yin
                        & Yang.
                    </p>
                    <p>Energieströme wahrnehmen und positiv lenken.</p>
                    <p>Das Zuhause zur Kraftquelle machen. Gold.</p>
                </div>
            </li>
        </ul>
    </div>
</DefaultLayout>

<style lang="scss">
    #moodboard {
        width: 100%;
        height: auto;
    }
    #moodboard.ausblenden {
        display: none;
        /* animation-name: ausblenden;
        animation-duration: 0.25s;
        animation-fill-mode: forwards; */
    }

    /* @keyframes ausblenden {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
            display: none;
        }
    } */

    .collapsible-container > li {
        list-style: none;

        @media (max-width: $mobile_max_width) {
            max-width: 95%;
            margin: 0 auto;
            margin-top: 10px;
        }
    }

    .collapsible {
        background-color: inherit;
        color: #444;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: right;
        outline: none;
        font-size: 50px;

        @media (max-width: $mobile_max_width) {
            font-size: 30px;
            background-color: #ccc;
            box-shadow: #000000 1px 1px 5px 0px;
        }
    }

    .collapsible-active,
    .collapsible:hover {
        background-color: #ccc;
    }

    .collapsible-content {
        font-size: 20px;
        padding: 0 18px;
        background-color: inherit;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        text-align: right;
    }
</style>

<script>
    let collapsibles = document.getElementsByClassName(
        "collapsible"
    ) as HTMLCollectionOf<HTMLButtonElement>;

    for (let i = 0; i < collapsibles.length; i++) {
        collapsibles[i].addEventListener("click", function () {
            const moodboard = document.querySelector(
                "#moodboard"
            ) as HTMLImageElement;
            moodboard.classList.add("ausblenden");
            let active_collapsible = document.getElementsByClassName(
                "collapsible-active"
            ) as HTMLCollectionOf<HTMLButtonElement>;
            for (let e = 0; e < active_collapsible.length; e++) {
                active_collapsible[e].click();
            }
            var content = this.nextElementSibling as HTMLDivElement;
            if (content.style.maxHeight) {
                this.classList.remove("collapsible-active");
                document
                    .getElementsByClassName("text")[0]
                    .classList.remove("text-active");
                content.style.removeProperty("max-height");
            } else {
                this.classList.add("collapsible-active");
                document
                    .getElementsByClassName("text")[0]
                    .classList.add("text-active");
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
