---
import { Image } from "astro:assets";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import headerImg from "@images/living/header.jpg";
---

<DefaultLayout
    title="Living - Studio Nicole Hölting"
    activePage="/living/"
    federAuthor="Jean Anouilh"
    federZitat="Die Dinge sind nie so, wie sie sind. Sie sind immer das, was man aus ihnen macht."
    federAnimation="translateY(220px) rotate(-20deg) translateX(20px)"
>
    <Image
        src={headerImg}
        alt="Feder mit Latte Macchiato auf Architektenpapier"
        id="header"
    />
    <div class="textbox">
        <p>
            Studio für RAUMgestalt.<br />
             Ideenlieferant & Einrichtungsbegleitung für dein Zuhause.
        </p>

        <p>
            Familie. Beruf. Alltag.<br />
             Du wünschst dir frische Farbe für dein Leben, suchst Inspirationen
            für dein Wohnen?<br />
             Wie auch immer wir Zuhause definieren - die Räume in denen wir
            leben, lieben & lachen sind stets ein Spiegel unserer selbst.<br />
             Für ihre Gestaltung mache ich eine Bestandsaufnahme vor Ort,<br />
             höre zu, fühle mich ein und erhalte so ein Gespür dafür, was dir
            wichtig ist, guttut & gefällt!<br />
             Ich arbeite sowohl deine funktionalen Bedürfnisse als auch deinen
            ästhetischen Anspruch heraus:<br />
             Grundrisslösungen & Raumwirkungen, Farb- und Stilkonzeptionen,
            Lichtoptimierung, Wand- und Deckengestaltung, <br />
             Planung von Einbaumöbeln & Küchen, Outdoor-Living...<br />
             Manchmal braucht es lediglich einen Eimer Farbe, ein Wochenende
            Zeit, etwas Möbelrücken und ein paar besonderer Kissen.<br />
             Ich begleite deinen Nestbau von der ersten Idee bis zur Umsetzung,
            bin Entscheidungshilfe, Vermittlerin & Ruhepol.<br />
             Ich unterstütze im Kontakt mit Handwerkern, berate bei der Auswahl
            von Böden, Tapeten, Farben, Stoffen, Lampen, Teppichen,<br />
             der Integration von Dekoration & Kunst, schaffe ein Gleichgewicht
            zwischen alten Lieblingsstücken & modernen Trends.<br />
             Du entscheidest - step by step - in welchem Umfang du meine
            Unterstützung in Anspruch nehmen möchtest.<br />
            <br />
             Gestalte mit dem Studio deinen RAUM. <br />
             Einfach. Beflügelnd.
        </p>
    </div>
</DefaultLayout>

<style lang="scss">
    #header {
        width: 100%;
        height: auto;
        filter: grayscale(1);
        transition: filter 0.5s ease-in-out;

        @media (max-width: $mobile_max_width) {
            filter: none;
        }

        &:hover {
            filter: grayscale(0);
        }
    }

    .textbox {
        text-align: center;
        font-size: 1.1rem;
        margin: 1cm;
    }
</style>
