---
import { getImage } from "astro:assets";
import DefaultLayout from "@layouts/DefaultLayout.astro";
import backgroundPreisgestaltungUnoptimized from "@images/pricing/deko.jpg";
import backgroundGutscheinUnoptimized from "@images/pricing/gutschein.jpg";

const backgroundPreisgestaltung = await getImage({
    src: backgroundPreisgestaltungUnoptimized,
    quality: "mid",
});
const backgroundGutschein = await getImage({
    src: backgroundGutscheinUnoptimized,
    quality: "mid",
});
---

<DefaultLayout
    title="Pricing - Studio Nicole Hölting"
    activePage="/pricing/"
    federAuthor="Oscar Wilde"
    federZitat="Heutzutage kennen alle Leute den Preis, nicht aber den Wert."
    federAnimation="translateY(320px) rotate(40deg)"
>
    <div class="slideimages">
        <div class="slideimage_container" id="slideimage_preisgestaltung">
            <div
                class="slideimage"
                style={`background-image: url('${backgroundPreisgestaltung.src}')`}
            >
            </div>
        </div>
        <div id="beschreibung_preisgestaltung">
            <p id="header">PREISGESTALTUNG</p>
            <p>
                Transparenz ist mir wichtig.<br />
                 Grundlage meiner Beratungstätigkeit ist ein Dienstvertrag. Ich
                erlaube mir, ein Honorar von 27,50 Euro plus MWSt. pro Stunde zu
                berechnen.<br />
                 Je nach Projekt erfolgt die Rechnungsstellung nach
                Teilabschnitten oder als Festpreis zu fixierten
                Rahmenbedingungen.<br />
                 So kannst du die Kosten kalkulieren.
            </p>
        </div>
        <div class="slideimage_container" id="slideimage_geschenkgutschein">
            <div
                class="slideimage"
                style={`background-image: url('${backgroundGutschein.src}')`}
            >
            </div>
        </div>
        <div id="beschreibung_geschenkgutschein">
            <p id="header">Geschenkgutschein</p>
            <p>
                Kick Off für die eigene Kunstsammlung, eine Ideenlieferung, ein
                langanhaltendes Wohngefallen! Der Geschenkgutschein. <br />
                 Einfach. Beflügelnd. <br />
                 Wahlweise als Wertgutschein* oder als Coupon zur Beratung zu
                haben. Immer aber mit ganz viel Liebe verpackt! Auf Wunsch mit
                geflügelten Worten und per Brieftaube versandt...
            </p>
            <p>
                *Mind. 25 EUR, einzulösen für Beratungstätigkeiten,
                Kunstobjekte...
            </p>
        </div>
    </div>
</DefaultLayout>

<style lang="scss">
    .slideimages {
        margin: 0 1cm;
        margin-top: 1.3cm;
        height: auto !important;
        box-sizing: border-box;
        display: grid;
        grid-gap: 1cm;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "slideimage_preisgestaltung slideimage_geschenkgutschein"
            "beschreibung_preisgestaltung beschreibung_geschenkgutschein";
    }
    .slideimage_container {
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .slideimage {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
        transition: all 1000ms;

        &:hover {
            background-position: top;
        }
    }

    #beschreibung_geschenkgutschein {
        grid-area: beschreibung_geschenkgutschein;
    }
    #beschreibung_preisgestaltung {
        grid-area: beschreibung_preisgestaltung;
    }
    #slideimage_preisgestaltung {
        grid-area: slideimage_preisgestaltung;
    }
    #slideimage_geschenkgutschein {
        grid-area: slideimage_geschenkgutschein;
    }

    #beschreibung_preisgestaltung,
    #beschreibung_geschenkgutschein {
        padding: 10px;
        border: 1px gray solid;
        position: relative;
        /* margin-top: 20px; */
    }
</style>
