---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import backgroundPreisgestaltung from "@images/pricing/deko.jpg";
import backgroundGutschein from "@images/pricing/gutschein.jpg";
import SlideImage from "@components/SlideImage.astro";
---

<DefaultLayout
    title="Pricing - Studio Nicole Hölting"
    activePage="/pricing/"
    federAuthor="Oscar Wilde"
    federZitat="Heutzutage kennen alle Leute den Preis, nicht aber den Wert."
    federAnimation="translateY(320px) rotate(40deg)"
>
    <div class="slideimages">
        <SlideImage
            img={backgroundPreisgestaltung}
            id="slideimage_preisgestaltung"
        />
        <div id="beschreibung_preisgestaltung">
            <p class="header">PREISGESTALTUNG</p>
            <p>
                Transparenz ist mir wichtig.<br />
                 Grundlage meiner Beratungstätigkeit ist ein Dienstvertrag. Ich
                erlaube mir, ein Honorar von 27,50 Euro plus MWSt. pro Stunde zu
                berechnen.<br />
                 Je nach Projekt erfolgt die Rechnungsstellung nach
                Teilabschnitten oder als Festpreis zu fixierten
                Rahmenbedingungen.<br />
                 So kannst du die Kosten kalkulieren.
            </p>
        </div>
        <SlideImage
            img={backgroundGutschein}
            id="slideimage_geschenkgutschein"
        />
        <div id="beschreibung_geschenkgutschein">
            <p class="header">Geschenkgutschein</p>
            <p>
                Kick Off für die eigene Kunstsammlung, eine Ideenlieferung, ein
                langanhaltendes Wohngefallen! Der Geschenkgutschein. <br />
                 Einfach. Beflügelnd. <br />
                 Wahlweise als Wertgutschein* oder als Coupon zur Beratung zu
                haben. Immer aber mit ganz viel Liebe verpackt! Auf Wunsch mit
                geflügelten Worten und per Brieftaube versandt...
            </p>
            <p>
                *Mind. 25 EUR, einzulösen für Beratungstätigkeiten,
                Kunstobjekte...
            </p>
        </div>
    </div>
</DefaultLayout>

<style lang="scss">
    .slideimages {
        margin: 0 1cm;
        margin-top: 1.3cm;
        height: auto !important;
        box-sizing: border-box;
        display: grid;
        grid-gap: 1cm;
        grid-template-columns: repeat(2, minmax(0, auto));
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "slideimage_preisgestaltung slideimage_geschenkgutschein"
            "beschreibung_preisgestaltung beschreibung_geschenkgutschein";

        @media (max-width: $mobile_max_width) {
            grid-template-columns: auto;
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "slideimage_preisgestaltung"
                "beschreibung_preisgestaltung"
                "slideimage_geschenkgutschein"
                "beschreibung_geschenkgutschein";
        }
    }

    #beschreibung_geschenkgutschein {
        grid-area: beschreibung_geschenkgutschein;
    }
    #beschreibung_preisgestaltung {
        grid-area: beschreibung_preisgestaltung;
    }
    #slideimage_preisgestaltung {
        grid-area: slideimage_preisgestaltung;
    }
    #slideimage_geschenkgutschein {
        grid-area: slideimage_geschenkgutschein;
    }

    #beschreibung_preisgestaltung,
    #beschreibung_geschenkgutschein {
        padding: 10px;
        border: 1px gray solid;
        position: relative;

        .header {
            text-transform: uppercase;
            font-size: 1.4em;
            font-weight: 100;
        }
    }
</style>
