---
import { Image } from "astro:assets";
import federImg from "@images/feder.png";

interface Props {
    zitat: string;
    author: string;
    animation?: string;
}

const {
    zitat,
    author,
    animation = "translateY(60px) rotate(-20deg) translateX(50px)",
} = Astro.props;
---

<aside id="feder">
    <Image id="feder-img" src={federImg} alt="" quality="mid" />
    <div class="sprueche">
        <p>{zitat}</p>
        <p class="author">({author})</p>
    </div>
</aside>

<style lang="scss" define:vars={{ animation }}>
    #feder {
        min-height: 100%;
        height: 790px;
        background: #666;
        width: 20vw;
        border-radius: 0 0 0 30px;

        @media (max-width: $mobile_max_width) {
            display: none;
        }

        #feder-img {
            max-height: 200px;
            height: auto;
            position: relative;
            max-width: 70%;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            margin-right: auto;
            margin-left: auto;

            animation-name: feder;
        }

        .author {
            font-size: 0.7em;
            text-align: right;
            line-height: 2em;
        }
        .sprueche {
            position: relative;
            // left: 8%;
            margin: 0 auto;
            /* top: 57.5%; */
            /* top: 450px; */
            top: 45vh;
            /* bottom: 10vh; */
            font-size: 1.3em;
            max-width: 90%;
        }
        .sprueche p {
            color: white;
        }
    }

    @keyframes feder {
        0% {
        }
        100% {
            transform: var(--animation);
        }
    }
</style>
