---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import ifiLogo from "@images/logos/ifi.jpg";
import qrCode from "@images/qr-code.svg";
import Logo from "./Logo.astro";

interface Props {
    text?: string;
}

const { text = "Kleine Dinge\nmit grosser Liebe tun." } = Astro.props;
---

<footer id="footer">
    <div class="footer-grid">
        <Logo logoColor="white" textColor="white" class="logo" />
        <a
            class="ifi-logo"
            href="https://www.institutfuerinnenarchitektur.de"
            target="_blank"
            rel="noopener noreferrer"
            ><Image
                src={ifiLogo}
                alt="Absolventin Institut für Innenarchitektur"
                densities={[1.5, 2]}
                quality="mid"
            /></a
        >
        <span class="text">{text}</span>
        <div class="links">
            <a href="/datenschutz/" class="datenschutz">Datenschutz</a>
            <div class="icons">
                <a
                    href="https://www.instagram.com/nicolehoelting_studio/"
                    target="_blank"
                    rel="noopener noreferrer"
                    ><Icon name="instagram" title="Instagram" /></a
                >
                <a
                    href="https://facebook.com/p/Studio-100086007337398"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <Icon name="facebook" title="Facebook" />
                </a>
            </div>
            <a href="/impressum/" class="impressum">Impressum</a>
        </div>
        <Image src={qrCode} alt="QR-Code Kontakt" class="qr-code" />
    </div>
</footer>

<style lang="scss">
    #footer {
        width: 100%;
        overflow-x: hidden;
        background-color: var(--logo-color);

        @supports (
            background-color:
                color-mix(in srgb, var(--logo-color) 80%, transparent)
        ) {
            :root[data-theme="dark"] & {
                background-color: color-mix(
                    in srgb,
                    var(--logo-color) 75%,
                    black
                );
            }
        }

        .footer-grid {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas:
                "logo"
                "text"
                "links"
                "ifi-logo";
            justify-items: center;
            padding: 1em;
            gap: 1em;
            max-width: 100%;

            @media only screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-s) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-template-areas:
                    "logo logo"
                    "ifi-logo text"
                    "links links";
            }

            @media only screen and (min-width: $breakpoint-s) {
                grid-template-columns: 1fr 2fr 1fr;
                grid-template-rows: repeat(3, auto);
                grid-template-areas:
                    "ifi-logo logo qr-code"
                    "ifi-logo text qr-code"
                    "ifi-logo links qr-code";
            }

            .ifi-logo,
            .qr-code {
                max-width: min(15em, 100%);
                height: auto;
                aspect-ratio: 1 / 1;
                align-self: center;

                > img {
                    width: min(15em, 100%);
                    height: 15em;
                    object-fit: contain;
                }
            }
            .ifi-logo {
                grid-area: ifi-logo;
            }
            .qr-code {
                display: none;
                grid-area: qr-code;
                background-color: white;

                @media only screen and (min-width: $breakpoint-s) {
                    display: block;
                }
            }
            .text {
                grid-area: text;
                padding: 1em;
                font-size: 2em;
                text-align: center;
            }
            .logo {
                grid-area: logo;
                max-width: 15em;
                height: 100%;
                width: 100%;
            }
            .links {
                grid-area: links;
                display: grid;
                grid-template-columns: auto;
                grid-template-areas: "icons" "datenschutz" "impressum";
                align-items: center;

                @media only screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-l) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "icons icons"
                        "datenschutz impressum";
                }
                @media only screen and (min-width: $breakpoint-l) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-areas: "datenschutz icons impressum";
                }

                a {
                    color: var(--link-color);

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .datenschutz,
                .impressum {
                    color: var(--link-color);
                    text-decoration: none;
                    font-size: 1.25em;
                    text-align: center;
                }

                .datenschutz {
                    grid-area: datenschutz;
                }
                .impressum {
                    grid-area: impressum;
                }

                .icons {
                    display: flex;
                    justify-content: space-evenly;
                    gap: 1em;
                    padding: 1em;
                    grid-area: icons;

                    > a {
                        height: 3rem;
                        width: 3rem;
                        color: initial;

                        > * {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
</style>
