---
import type { HTMLAttributes } from "astro/types";

import logoImg from "@images/logos/text.svg?raw";

interface LogoProps {
    logoColor?: string;
    textColor?: string;
}

type Props = LogoProps & HTMLAttributes<"span">;

const {
    logoColor = "#000",
    textColor = "#000",
    class: className,
    ...attrs
} = Astro.props;

const logoClasses = [...new Set(["logo", className])];
---

<span
    style={`--inline--logo-color: ${logoColor}; --inline--text-color: ${textColor}`}
    {...attrs}
    class:list={logoClasses}
>
    <Fragment set:html={logoImg} />
</span>

<style lang="scss">
    .logo {
        display: block;

        > :global(svg) {
            height: 100%;
            width: 100%;
        }
    }
</style>
