---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import logoImg from "@images/logo.png";

interface Props {
    active?: string;
}

const { active = "/" } = Astro.props;

const menu = [
    ["/", "Home"],
    ["/living/", "Living"],
    ["/projects/", "Projects"],
    ["/blog/", "Blog"],
    ["/artworks/", "Artworks"],
    ["/pricing/", "Pricing"],
    ["/about/", "About"],
    ["/contact/", "Contact"],
];
---

<nav class="navbar">
    <div class="logo-container">
        <Image class="logo" src={logoImg} alt="Logo" quality="mid" />
    </div>
    <button class="mobile-nav-toggle"><Icon name="fa:bars" /></button>
    <ul>
        {
            menu.map(([link, name]) => {
                if (link === active) {
                    return (
                        <li class="element active">
                            <span>{name}</span>
                        </li>
                    );
                }
                return (
                    <li class="element">
                        <a href={link}>{name}</a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<style lang="scss">
    .navbar {
        box-sizing: border-box;
        padding-top: 0px;
        background: #666;
        margin: 0px;
        padding: 0px;
        // height: 100px;
        max-width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: "logo nav";
        // overflow-x: hidden;

        @media (max-width: $mobile_max_width) {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-template-areas: "logo" "nav";
        }

        ul {
            max-width: 100%;
            padding: 10px 0px;
            margin: 0px 5px;
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-wrap: wrap;
            grid-area: nav;

            @media (max-width: $mobile_max_width) {
                background-color: #555;
                padding-top: 0;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin: 0;
                position: fixed;
                inset: 0 0 0 30%;
                padding: 0 2em;
                padding-top: min(20vh, 10rem);
                z-index: 99;
                overflow-y: auto;
                transform: translateX(100%);
                transition: transform 200ms ease-in-out;

                @supports (backdrop-filter: blur(1rem)) {
                    background-color: #555555a0;
                    backdrop-filter: blur(1rem);
                }
            }

            &.mobile-visible {
                transform: translateX(0%);
            }

            .element {
                padding: 3px 10px;
                transition: all 100ms;
                text-align: center;
                font-size: 1.5rem;

                @media (max-width: $mobile_max_width) {
                    padding: 5px;
                    margin-bottom: 0.5rem;
                    background-color: #555;
                }

                & > :is(a, span) {
                    font-family: "Roboto thin", Calibri;

                    @media (max-width: $mobile_max_width) {
                        display: block;
                        width: 100%;
                    }
                }

                &:hover > :is(a, span) {
                    text-decoration: none;
                    color: white;
                    border-bottom: 2px #fff solid;
                }

                &.active span {
                    // font-weight: bold;
                    // margin: 0px;
                    // padding: 0px;
                    // color: white;
                    border-bottom: 3px #fff solid;

                    * {
                        cursor: pointer;
                    }
                }
            }
            a {
                text-decoration: none;
            }

            li {
                list-style: none;
                margin-top: 5px;

                > span,
                > a {
                    color: white;
                }
            }
        }

        .mobile-nav-toggle {
            position: fixed;
            width: 3rem;
            aspect-ratio: 1;
            top: 1.5rem;
            right: 1.5rem;
            z-index: 100;
            border: 2px #e6e6e6 solid;
            display: none;
            background-color: #444;
            color: unset;
            padding: 0.25rem;
            border-radius: 20%;

            svg {
                padding-top: 3px;
                :global(*) {
                    fill: #e6e6e6;
                }
            }

            @media (max-width: $mobile_max_width) {
                display: block;
            }
        }

        .logo-container {
            grid-area: logo;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .logo {
                width: 200px;
                padding: 10px 15px;

                @media (max-width: $mobile_max_width) {
                    margin: 10px auto;
                }
            }
        }
    }
</style>

<script>
    const nav = document.querySelector("nav.navbar") as HTMLElement;
    const navToggle = nav.querySelector(
        ".mobile-nav-toggle"
    ) as HTMLButtonElement;
    const ul = nav.querySelector("ul")!;

    navToggle.addEventListener("click", () => {
        ul.classList.toggle("mobile-visible");
    });
</script>
