---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Logo from "@components/Logo.astro";

interface Props {
    logo?: boolean | string;
}

const { logo = true } = Astro.props;

const menu = [
    ["/projects/", "projects"],
    ["/services/", "services"],
    ["/about/", "about"],
    ["/contact/", "contact"],
    ["/blog/", "blog"],
];
---

<nav class="navbar">
    <div class="logo-container">
        <a href="/">{ typeof(logo) == "string" ? <span class="logo-text">{logo}</span> : (logo ? <Logo logoColor="var(--logo-color)" textColor="var(--logo-color)" /> : <></>) }</a>
    </div>
    <button class="mobile-nav-toggle" aria-label="Toggle navigation bar"
        ><Icon name="fa:bars" /></button
    >
    <ul>
        {
            menu.map(([link, name]) => {
                if (Astro.url.pathname.startsWith(link.replace(/\/$/, ""))) {
                    return (
                        <li class="element active">
                            <span>{name}</span>
                        </li>
                    );
                }
                return (
                    <li class="element">
                        <a href={link}>{name}</a>
                    </li>
                );
            })
        }
    </ul>
</nav>

<style lang="scss">
    .navbar {
        box-sizing: border-box;
        padding-top: 0px;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "logo" "nav";
        align-items: center;
        z-index: 10;

        @media (min-width: $breakpoint-s) {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto;
            grid-template-areas: "logo nav";
        }

        ul {
            max-width: 100%;
            display: flex;
            grid-area: nav;

            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            position: fixed;
            inset: 0 0 0 30%;
            padding: 0 2em;
            padding-top: min(20vh, 10rem);
            z-index: 99;
            overflow-y: auto;
            transform: translateX(100%);
            transition: transform 200ms ease-in-out;
            background-color: var(--logo-color);
            background-color: color-mix(in srgb, var(--logo-color) 90%, black);

            @supports (backdrop-filter: blur(1rem)) and (background-color: color-mix(in srgb, var(--logo-color) 80%, transparent)) {
                background-color: color-mix(in srgb, var(--logo-color) 70%, transparent);
                backdrop-filter: blur(1rem);
            }

            @media (min-width: $breakpoint-s) {
                margin-inline: 5px;
                padding-top: 0;
                background-color: transparent;
                position: initial;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                inset: initial;
                z-index: initial;
                overflow-y: initial;
                transform: initial;
                transition: initial;
                backdrop-filter: initial;
            }

            &.mobile-visible {
                transform: translateX(0%);
            }

            .element {
                padding: 5px;
                margin-bottom: 0.5rem;
                transition: all 100ms;
                font-size: 1.5rem;
                text-align: center;
                background-color: var(--logo-color);
                
                @media (min-width: $breakpoint-s) {
                    padding: 3px 10px;
                    margin-bottom: 0;
                    background-color: transparent;
                }

                & > :is(a, span) {
                    display: block;
                    width: 100%;
                    border-bottom: 1px transparent solid;

                    @media (min-width: $breakpoint-s) {
                        display: initial;
                        width: initial;
                    }
                }

                &:hover > :is(a, span) {
                    text-decoration: none;
                    // color: white;
                    border-bottom-color: black;
                }

                &.active span {
                    border-bottom: 2px black solid;

                    * {
                        cursor: pointer;
                    }
                }
            }
            a {
                text-decoration: none;
            }

            li {
                list-style: none;
                margin-top: 5px;

                > span,
                > a {
                    color: black;
                }
            }
        }

        .mobile-nav-toggle {
            position: fixed;
            width: 3rem;
            aspect-ratio: 1;
            top: 1.5rem;
            right: 1.5rem;
            z-index: 100;
            border: 2px black solid;
            display: block;
            background-color: var(--logo-color);
            color: unset;
            padding: 0.25rem;
            border-radius: 20%;

            svg {
                padding-top: 3px;
                :global(*) {
                    fill: black;
                }
            }

            @media (min-width: $breakpoint-s) {
                display: none;
            }
        }

        .logo-container {
            grid-area: logo;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 120px;

            @media (min-width: $breakpoint-s) {
                margin-left: 1em;
                height: 80px;
            }

            > a {
                height: 100%;
                
                :global(span.logo) {
                    width: min(100%, 300px);
                    height: 100%;
                    padding: 10px 15px;
                    margin-inline: auto;
                    overflow-y: hidden;
                    display: block;

                    @media (min-width: $breakpoint-s) {
                        margin: 0;
                    }
                }

                .logo-text {
                    max-width: min(100%, 300px);
                }
            }
        }
    }
</style>

<script>
    const nav = document.querySelector("nav.navbar") as HTMLElement;
    const navToggle = nav.querySelector(
        ".mobile-nav-toggle"
    ) as HTMLButtonElement;
    const ul = nav.querySelector("ul")!;

    navToggle.addEventListener("click", () => {
        ul.classList.toggle("mobile-visible");
    });
</script>
