---
import type { ImageQuality } from "astro";
import { getImage } from "astro:assets";

interface Props {
    id?: string;
    class?: string;
    img: ImageMetadata;
    quality?: ImageQuality;
    top?: boolean;
}

const { id, class: htmlClass, img, quality = "mid", top = false } = Astro.props;

const imageOptimized = await getImage({ src: img, quality });
---

<div class={htmlClass} class:list={{ slideimage_container: true }} {id}>
    <div
        class="slideimage"
        class:list={{ top }}
        style={`background-image: url('${imageOptimized.src}')`}
    >
    </div>
</div>

<style lang="scss">
    .slideimage_container {
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .slideimage {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        width: 100%;
        transition: all 1000ms;

        &:hover {
            background-position: top;
        }

        &.top {
            background-position: top;

            &:hover {
                background-position: bottom;
            }
        }
    }
</style>
