---
import type { GetStaticPaths } from "astro";
import { Schema } from "astro-seo-schema";
import { getCollection, getEntry } from "astro:content";
import { getImage } from "astro:assets";

import EntryLayout from "@layouts/EntryLayout.astro";

export const getStaticPaths = (async () => {
    const projects = await getCollection("projects", ({ data }) => {
        return import.meta.env.PROD ? data.entwurf !== true : true;
    });
    return projects.map((project) => ({
        params: { slug: project.slug },
    }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

const project = await getEntry("projects", slug);
const { Content } = await project.render();

const thumbnailPath = (
    await getImage({
        src: project.data.thumbnail,
        inferSize: true,
        quality: "mid",
    })
).src;
---

<EntryLayout title={`${project.data.titel} - Studio NH`}>
    <Schema
        slot="head"
        item={{
            "@context": "https://schema.org",
            "@type": "CreativeWork",
            name: project.data.titel,
            image: Astro.site!.origin + thumbnailPath,
            url: `${Astro.site!.origin}projects/${slug}/`,
            author: {
                "@type": "Person",
                name: "Nicole Hölting",
                url: Astro.site!.origin,
            },
            keywords: "Innenarchitektur, Design, Projekte, Interior Design",
        }}
    />
    <h1>{project.data.titel}</h1>
    <Content />
</EntryLayout>
