---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavigationBar from "@components/NavigationBar.astro";
import Footer from "@components/Footer.astro";
import UpButton from "@components/UpButton.astro";

interface Props {
    title: string;
    footerText?: string;
    hasUpButton?: boolean;
}

const { title, footerText, hasUpButton } = Astro.props;
---

<BaseLayout {title}>
    <slot slot="head" name="head" />
    <NavigationBar transition:name="navbar" transition:animate="none" />
    <div id="content">
        <slot />
    </div>
    {hasUpButton && <UpButton />}
    <Footer text={footerText} />
</BaseLayout>
