---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavigationBar from "@components/NavigationBar.astro";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
    logo?: boolean | string;
}

const { title, logo } = Astro.props;
---

<BaseLayout {title}>
    <slot slot="head" name="head" />
    <NavigationBar {logo} />
    <main id="content">
        <slot />
    </main>
    <Footer />
</BaseLayout>
