---
import BaseLayout from "@layouts/BaseLayout.astro";
import NavigationBar from "@components/NavigationBar.astro";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<BaseLayout {title}>
    <slot slot="head" name="head" />
    <div id="pageContainer">
        <NavigationBar logo={true} />
        <div id="viewContainer">
            <main id="content">
                <slot />
            </main>
        </div>
        <Footer />
    </div>
</BaseLayout>
